In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error,r2_score
import seaborn as s
import statsmodels.api as sm
import math


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
#from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import plot_tree
from sklearn.metrics import accuracy_score
#from io import stringIO
from sklearn.preprocessing import LabelEncoder #encode categorical variables
from sklearn.naive_bayes import GaussianNB, BernoulliNB #naive bayes
from sklearn.metrics import accuracy_score #accuracy
from io import StringIO
%matplotlib inline
%matplotlib inline #print inline images in Jupyter Notebook

UsageError: unrecognized arguments: #print inline images in Jupyter Notebook

In [67]:
data=pd.read_csv('Customer_Behaviour.csv')

In [68]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [69]:
data.shape

(400, 5)

In [70]:
data['Purchased'].unique()

array([0, 1], dtype=int64)

In [71]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [72]:
data.describe(include='O')

        Gender
count      400
unique       2
top     Female
freq       204

In [73]:
data=data.drop('User ID',axis=1)

In [74]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [75]:
Target_ratio=data['Purchased'].value_counts()/len(data)

In [76]:
Target_ratio

0    0.6425
1    0.3575
Name: Purchased, dtype: float64

In [77]:
cat_features=data.columns[data.dtypes=='O']
print(*cat_features,sep=' | ') # * is wildcard to print a list, where parameter sep is used to define a separator.

Gender

In [78]:
new_data=pd.get_dummies(data,columns=cat_features)

In [79]:
new_data.shape

(400, 5)

## Normalize the date

In [80]:
X=new_data.drop('Purchased',axis=1)
Y=new_data['Purchased']

In [81]:
X.head()

   Age  EstimatedSalary  Gender_Female  Gender_Male
0   19            19000              0            1
1   35            20000              0            1
2   26            43000              1            0
3   27            57000              1            0
4   19            76000              0            1

In [82]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [85]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train['Age']=sc.fit_transform(X_train['Age'].values.reshape(-1,1))
X_test['Age']=sc.fit_transform(X_test['Age'].values.reshape(-1,1))
X_train['EstimatedSalary']=sc.fit_transform(X_train['EstimatedSalary'].values.reshape(-1,1))
X_test['EstimatedSalary']=sc.fit_transform(X_test['EstimatedSalary'].values.reshape(-1,1))

<ipython-input-85-af062670f67c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Age']=sc.fit_transform(X_train['Age'].values.reshape(-1,1))
<ipython-input-85-af062670f67c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Age']=sc.fit_transform(X_test['Age'].values.reshape(-1,1))
<ipython-input-85-af062670f67c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['EstimatedSalary']=sc.fit_transform(X_train['EstimatedSalary'].values.reshape(-1,1))
<ipython-input-85-af062670f67c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['EstimatedSalary']=sc.fit_transform(X_test['EstimatedSalary'].values.reshape(-1,1))

In [86]:
#from sklearn.naive_bayes import GaussianNB, BernoulliNB #naive bayes
gnb=GaussianNB()
bnb=BernoulliNB()

In [103]:
gnb.fit(X_train,Y_train)
y_train_pred_gnb=gnb.predict(X_train)
y_test_pred_gnb=gnb.predict(X_test)
Train_accuracy_gnb=metrics.accuracy_score(y_train_pred_gnb,Y_train)
Test_accuracy_gnb=metrics.accuracy_score(y_test_pred_gnb,Y_test)
print('GNB Train Accuracy : ',Train_accuracy_gnb)
print('GNB Test Accuracy : ',Test_accuracy_gnb)

GNB Train Accuracy :  0.88125
GNB Test Accuracy :  0.9125

In [107]:
bnb.fit(X_train,Y_train)
y_train_pred_bnb=bnb.predict(X_train)
y_test_pred_bnb=bnb.predict(X_test)
Train_accuracy_bnb=metrics.accuracy_score(y_train_pred_bnb,Y_train)
Test_accuracy_bnb=metrics.accuracy_score(y_test_pred_bnb,Y_test)
print('BNB Train Accuracy : ',Train_accuracy_bnb)
print('BNB Test Accuracy : ',Test_accuracy_bnb)

BNB Train Accuracy :  0.75
BNB Test Accuracy :  0.8125

In [109]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [110]:
gnb.fit(X_train,Y_train)
y_train_pred_gnb=gnb.predict(X_train)
y_test_pred_gnb=gnb.predict(X_test)
Train_accuracy_gnb=metrics.accuracy_score(y_train_pred_gnb,Y_train)
Test_accuracy_gnb=metrics.accuracy_score(y_test_pred_gnb,Y_test)
print('GNB Train Accuracy : ',Train_accuracy_gnb)
print('GNB Test Accuracy : ',Test_accuracy_gnb)

GNB Train Accuracy :  0.88125
GNB Test Accuracy :  0.9125

In [111]:
bnb.fit(X_train,Y_train)
y_train_pred_bnb=bnb.predict(X_train)
y_test_pred_bnb=bnb.predict(X_test)
Train_accuracy_bnb=metrics.accuracy_score(y_train_pred_bnb,Y_train)
Test_accuracy_bnb=metrics.accuracy_score(y_test_pred_bnb,Y_test)
print('BNB Train Accuracy : ',Train_accuracy_bnb)
print('BNB Test Accuracy : ',Test_accuracy_bnb)

BNB Train Accuracy :  0.75
BNB Test Accuracy :  0.8125