In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error,r2_score
import statsmodels.api as sm 
from sklearn.model_selection import train_test_split

In [33]:
data=pd.read_excel("Logistic_introduction.xlsx")

In [34]:
data.head()

   Hours_Studied  Result
0              2       0
1              3       0
2              4       0
3              5       1
4              6       1

In [45]:
#data

In [83]:
X=data.Hours_Studied[:,np.newaxis]
X=X.reshape(-1,1)
Y=data.Result

In [84]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [85]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train,Y_train)

LogisticRegression()

In [92]:
Y_train_pred=classifier.predict(X_train)
Y_test_pred=classifier.predict(X_test)

In [93]:
df=pd.DataFrame(Y_train,Y_train_pred)
df

   Result
0       0
1       0
1       0
1       0
1       0
0       0
1       0

In [94]:
print(Y_train_pred)

[0 1 1 1 1 0 1]

In [95]:
Y_train

1    0
4    1
8    1
6    1
3    1
0    0
5    1
Name: Result, dtype: int64